header
  display: flex
  justify-content: space-between
  align-items: center
  margin: 35px auto 40px auto

  //*********** Mobile ***********
    @media only screen and (max-width: 425px)
      margin: 20px auto 27px auto

  img
    width: 190px

    //*********** Tablet ***********
    @media only screen and (max-width: 768px)
      width: 150px

    //*********** Mobile ***********
    @media only screen and (max-width: 425px)
      width: 130px
      height: 47px

    //*********** Mobile S ***********
    @media only screen and (max-width: 374px)
      width: 90px
      height: 33px

  ul
    display: flex
    flex-direction: row
    gap: 57px
    font-weight: 500
    font-size: 23px

    //*********** Tablet ***********
    @media only screen and (max-width: 768px)
      font-size: 19px
      gap: 30px

    //*********** Mobile ***********
    @media only screen and (max-width: 425px)
      font-size: 15px
      gap: 23px
      text-transform: uppercase

    //*********** Mobile S ***********
    @media only screen and (max-width: 374px)
      font-size: 14px
      gap: 10px

    .active
      text-decoration: underline
      text-decoration-thickness: 1px
      text-underline-offset: 3px