.housing

    h1
        color: var(--primaire)
        font-weight: 500
        font-size: 36px

    &__content
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: 20px
        margin-bottom: 24px

    &__nameAndTags
        display: flex
        flex-direction: column
        gap: 20px

    &__location
        font-size: 18px
        font-weight: 500

    &__profileAndRating
        display: flex
        flex-direction: column
        align-items: flex-end
        gap: 20px

    &__collapse
        display: flex
        gap: 80px
        margin-right: 35px
        margin-bottom: 50px

        //*********** Tablet ***********
        @media only screen and (max-width: 768px)
            flex-direction: column
            gap: 20px