.housing

    h1
        color: var(--primaire)
        font-weight: 500
        font-size: 36px

        /*********** Mobile ***********
        @media only screen and (max-width: 425px)
            font-size: 18px

    &__content
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: 20px
        margin-bottom: 24px

        //*********** Tablet ***********
        @media only screen and (max-width: 768px)
            flex-direction: column

    &__nameAndTags
        display: flex
        flex-direction: column
        gap: 20px

        //*********** Tablet ***********
        @media only screen and (max-width: 768px)
            width: 100%

    &__location
        font-size: 18px
        font-weight: 500

        /*********** Mobile ***********
        @media only screen and (max-width: 425px)
            font-size: 14px

    &__profileAndRating
        display: flex
        flex-direction: column
        align-items: flex-end
        gap: 20px

        /*********** Tablet ***********
        @media only screen and (max-width: 768px)
            flex-direction: row-reverse
            justify-content: space-between
            align-items: center
            width: 100%
            margin-top: 20px


    &__collapse
        display: flex
        gap: 80px
        margin-right: 35px
        margin-bottom: 50px

        //*********** Tablet ***********
        @media only screen and (max-width: 768px)
            flex-direction: column
            gap: 20px