//*********** Import **********// 
@use "./header.sass"
@use "./footer.sass"
@use "./error.sass"
@use "./banner.sass"
@use "./card.sass"
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap')

//*********** Variable **********//
:root 
  --primaire: #FF6060

//*********** Style **********//
* 
  margin: 0
  padding: 0
  font-family: "Montserrat", sans-serif

.app
  max-width: 1440px
  margin: 0 auto
  padding: 0 100px 
  
  //*********** Mobile ***********
  @media only screen and (max-width: 425px)
    max-width: 335px
    padding: 0 20px 

a 
  text-decoration: none
  color: black