//*********** Import **********// 
@use "./header.sass"
@use "./footer.sass"
@use "./error.sass"
@use "./banner.sass"
@use "./card.sass"
@use "./collapse.sass"
@use "./slideshow.sass"
@use "./tags.sass"
@use "./profile.sass"
@use "./housing.sass"
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap')
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')

//*********** Variable **********//
:root 
  --primaire: #FF6060
  --light-grey: #F6F6F6

//*********** Style **********//
* 
  margin: 0
  padding: 0
  font-family: "Montserrat", sans-serif

.app
  max-width: 1440px
  margin: 0 auto
  padding: 0 100px 
  
  //*********** Mobile ***********
  @media only screen and (max-width: 425px)
    max-width: 335px
    padding: 0 20px 

a 
  text-decoration: none
  color: black

ul
  list-style: none