.profile
    display: flex
    width: 167px
    height: 64px
    gap: 10px
    align-items: center

    p
        color: var(--primaire)
        font-weight: 500
        font-size: 18px
        text-align: right
    
    img 
        width: 64px
        height: 64px
        border-radius: 50%